html, body{
	overflow: visible;
	background: -webkit-linear-gradient(45deg, #085078 15%, #85d8ce 90%);
	background: -moz-linear-gradient(45deg, #085078 15%, #85d8ce 90%);
	background: -ms-linear-gradient(45deg, #085078 15%, #85d8ce 90%);
	background: -o-linear-gradient(45deg, #085078 15%, #85d8ce 90%);
	background: linear-gradient(45deg, #085078 15%, #85d8ce 90%);
}

p {
	color: white;
	font-size: x-large;
	position: absolute;
	top: 110%;
	left: 40%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.container
{
  display: flex;
  flex-flow: row wrap;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  /*min-height: 100vh;*/
}

.clock
{
	width: 20rem;
    height: 20rem;
    border:10px solid white;
    border-radius:50%;
    margin:40px auto;
    position: relative;
    padding:2rem;
    
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px); /*account for the height of the clock hands */
}

.hand-hour {
	width:30%;
	height:6px;
	background:black;
	position: absolute;
	left: 20%;
	top:50%;
	transform-origin: 100%; /* to change center of origin to left corner of the hand, from the mid of the hand  */
	transform: rotate(90deg); /* set hands to 12 at begining */
	transition: all 0.05s; /* for animation effect */
	transition-timing-function: ease;
}

.hand-min {
	width:50%;
	height:6px;
	background:black;
	position: absolute;
	top:50%;
	transform-origin: 100%; /* to change center of origin to left corner of the hand, from the mid of the hand  */
	transform: rotate(90deg); /* set hands to 12 at begining */
	transition: all 0.05s; /* for animation effect */
	transition-timing-function: ease;
}

.hand-sec {
	width:50%;
	height:2px;
	background:black;
	position: absolute;
	top:50%;
	transform-origin: 100%; /* to change center of origin to left corner of the hand, from the mid of the hand  */
	transform: rotate(90deg); /* set hands to 12 at begining */
	transition: all 0.05s; /* for animation effect */
	transition-timing-function: ease;
}

.circle {
	background: black;
	position: absolute;
	top: 48%;
	left: 48%;
    width: 15px;
    height: 15px;
    border-radius: 50%;

}
